<h1>Impressum</h1>

<h2>Angaben gemäß § 5 DDG</h2>
<p>
  <strong>Verena Mennen</strong><br>
  Marie-Curie-Str. 31<br>
  91052 Erlangen
</p>

<h2>Vertreten durch</h2>
<p>
  Verena Mennen
</p>

<h2>Kontakt</h2>
<p>
  Telefon: 0157 55181980<br>
  E-Mail: erlangen.tb.rebels@gmail.com
</p>


<h2>Redaktionell verantwortlich</h2>
<p>
  Verena Mennen<br>
  Marie-Curie-Str. 31<br>
  91052 Erlangen
</p>

<h2>EU-Streitschlichtung</h2>
<p>
  Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit: 
  <a href="https://ec.europa.eu/consumers/odr/" target="_blank" rel="noopener">https://ec.europa.eu/consumers/odr/</a>.<br>
  Unsere E-Mail-Adresse finden Sie oben im Impressum.
</p>

<h2>Verbraucherstreitbeilegung / Universalschlichtungsstelle</h2>
<p>
  Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren vor einer Verbraucherschlichtungsstelle teilzunehmen.
</p>